<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/assets/images/project/Delivery.ico" />

    @*Link Font Awesome*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />

    @*Link Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Link OwlCarousel*@
    <link rel="stylesheet" href="~/lib/owlcarousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owlcarousel/dist/assets/owl.theme.default.min.css" />

    @*Link CSS*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliveryProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand ms-3" href="/">
                    <img src="~/assets/images/project/Delivery.png" alt="Bootstrap" style="max-width: 150px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">
                    <form class="d-flex" role="search" asp-controller="Restaurant" asp-action="Search" method="post">
                        <input type="hidden" name="search" value="">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" onkeyup="document.querySelector('input[name=\'search\']').value = this.value;">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item me-3">
                            <a class="nav-link" asp-controller="Wishlist" asp-action="Index">
                                <i class="fa-solid fa-heart fa-lg" style="color: red"></i>
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" asp-controller="Restaurant" asp-action="Cart">
                                <i class="fa-solid fa-cart-shopping fa-lg" style="color: black"></i>
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" asp-controller="Managed" asp-action="Login">
                                Iniciar Sesión
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" asp-controller="Managed" asp-action="Register">
                                Registrarse
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="ms-5 me-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - DeliveryProject - Hecho por Andrei Garbea
        </div>
    </footer>

    @*Script jQuery*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*Script Font Awesome*@
    <script src="~/lib/fontawesome/js/all.js"></script>

    @*Script Bootstrap*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*Script JavaScript*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Script OwlCarousel*@
    <script src="~/lib/owlcarousel/dist/owl.carousel.min.js"></script>

    @*Render Scripts*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
