<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/assets/images/project/Delivery.ico" />

    @*Link Font Awesome*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />

    @*Link Bootstrap*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Link OwlCarousel*@
    <link rel="stylesheet" href="~/lib/owlcarousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owlcarousel/dist/assets/owl.theme.default.min.css" />

    @*Link CSS*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeliveryProjectAzure.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand ms-3" href="/">
                    <img src="~/assets/images/project/Delivery.png" alt="Bootstrap" style="max-width: 150px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarTogglerDemo03">
                    <form class="d-flex" role="search" asp-controller="Restaurant" asp-action="Search" method="post">
                        <input type="hidden" name="search" value="">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" onkeyup="document.querySelector('input[name=\'search\']').value = this.value;">
                        <button class="btn btn-outline-success btn-light" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <ul class="navbar-nav flex-row align-items-center">
                        <li class="nav-item me-3">
                            <a class="nav-link" asp-controller="Wishlist" asp-action="Index">
                                <i class="fa-solid fa-heart fa-lg" style="color: red"></i>
                            </a>
                        </li>
                        <partial name="_MenuCart" />
                        <partial name="_MenuLogin" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="ms-5 me-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2023 - DeliveryProjectAzure - Hecho por Andrei Garbea
        </div>
    </footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="fa-solid fa-arrow-up fa-lg"></i></a>
    </div>

    @*Script jQuery*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*Script Font Awesome*@
    <script src="~/lib/fontawesome/js/all.js"></script>

    @*Script Bootstrap*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*Script JavaScript*@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @*Script OwlCarousel*@
    <script src="~/lib/owlcarousel/dist/owl.carousel.min.js"></script>

    @*Render Scripts*@
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var goToTop = function () {

            $('.js-gotop').on('click', function (event) {

                event.preventDefault();

                $('html, body').animate({
                    scrollTop: $('html').offset().top
                }, 500, 'linear');

                return false;
            });

            $(window).scroll(function () {

                var $win = $(window);
                if ($win.scrollTop() > 200) {
                    $('.js-top').addClass('active');
                } else {
                    $('.js-top').removeClass('active');
                }

            });

        };

        goToTop();
    </script>
</body>
</html>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
    }

    .gototop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
    }

        .gototop.active {
            opacity: 1;
            visibility: visible;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }

        .gototop a {
            width: 50px;
            height: 50px;
            display: table;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            text-align: center;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .gototop a i {
                height: 50px;
                display: table-cell;
                vertical-align: middle;
            }

            .gototop a:hover, .gototop a:active, .gototop a:focus {
                text-decoration: none;
                outline: none;
            }
</style>