@*@{
    int qtyCart = 0;

    var httpContext = Context.Request.HttpContext;
    var cacheKey = $"cart_{httpContext.User.Identity.Name}";

    var serviceCart = Context.RequestServices.GetService<ServiceCart>();
    var cart = await serviceCart.GetCartAsync(cacheKey, httpContext);

    if (cart != null)
    {
        qtyCart = cart.Count();
    }
}*@

@*@if (Context.Session.GetString("CART") != null)
{
    <li class="nav-item me-3">
        <a class="nav-link" asp-controller="Restaurant" asp-action="Cart" style="display: flex; align-items: center;">
            <span class="badge text-bg-light text-black me-1">
                @qtyCart
            </span>
            <i class="fa-solid fa-cart-shopping fa-lg" style="color: white"></i>
        </a>
    </li>
}
else
{*@
    <li class="nav-item me-3">
        <a class="nav-link" asp-controller="Restaurant" asp-action="Cart" style="display: flex; align-items: center;">
            @*<span class="badge text-bg-light text-black me-1">
                0
            </span>*@
            <i class="fa-solid fa-cart-shopping fa-lg" style="color: white"></i>
        </a>
    </li>
@*}*@