@model PaginationRestaurants
@{
    int numeroRegistros = 0;
    int numeropagina = 1;
    if (Model != null)
    {
        numeroRegistros = Model.NumberRecords;
    }
}



@if (Model != null)
{
    <div>
        <ul class="pagination">
            @for (int i = 1; i <= numeroRegistros; i += 1)
            {
                <li class="page-item">
                    <button onclick="pagination(@i, 1)">
                        Página @numeropagina
                    </button>
                </li>
                numeropagina += 1;
            }

        </ul>


    @foreach (Restaurant restaurant in Model.Restaurants)
    {
        <img src="@restaurant.Image" width="300" height="300" />
    }
    </div>
}