<h4>Perfil del usuario @Context.User.Identity.Name:</h4>

<div class="row">

    <div class="col-md-2 p-4">
        <partial name="_MenuUsuario" />
    </div>

    <div class="col-md-10">
        <ul class="list-group">
            <li class="list-group-item">
                Email:  @Context.User.FindFirst(ClaimTypes.Email).Value
            </li>
            <li class="list-group-item">
                Rol: @Context.User.FindFirst(ClaimTypes.Role).Value
            </li>
            <li class="list-group-item">
                Imagen: <img src=~/assets/images/users/@Context.User.FindFirstValue("Image") style="max-width: 200px;" />
            </li>
        </ul>
    </div>

</div>