@{
    ViewData["Title"] = "Delivery";
    List<Restaurant> restaurants = ViewData["RESTAURANTS"] as List<Restaurant>;
    List<Category> categories = ViewData["CATEGORIES"] as List<Category>;
}

<div class="owl-carousel owl-theme pe-5 ps-5">
    @foreach (Category category in categories)
    {
        <a asp-controller="Filter" asp-action="Category" asp-route-id="@category.Id">
            <div class="item">
                <img class="img img-fluid w-50 m-auto" src="~/assets/images/restaurantscategories/@category.Image" />
                <h6 class="text-center mt-2">@category.Name</h6>
            </div>
        </a>
    }
</div>

<div class="row">
    <div class="col-md-3 pe-5">
        <h2>Filtros</h2>
        <form class="form">
            <p>
                <a class="d-flex justify-content-between align-items-center text-black" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <h4>Ordenar <i class="fa-solid fa-arrow-up arrow-icon"></i></h4>
                </a>
            </p>
            <div class="collapse show" id="collapseExample">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ordenar" id="relevancia" value="relevancia" checked>
                    <label class="form-check-label" for="relevancia">
                        Relevancia
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ordenar" id="novedades" value="novedades">
                    <label class="form-check-label" for="novedades">
                        Novedades
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ordenar" id="valoraciones" value="valoraciones">
                    <label class="form-check-label" for="valoraciones">
                        Valoraciones
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ordenar" id="tiempoentrega" value="tiempoentrega">
                    <label class="form-check-label" for="tiempoentrega">
                        Tiempo de entrega
                    </label>
                </div>
            </div>
            <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" name="customswitch" id="customswitch" value="customswitch">
                <label class="custom-control-label" for="customswitch">
                    Ofertas
                </label>
            </div>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
            </div>
            <button class="btn btn-dark">
                Filtrar
            </button>
        </form>
    </div>
    <div class="col-md-9">
        <div class="row" id="restaurants-row">
            @foreach (Restaurant restaurant in restaurants)
            {
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-4 mb-5 h-100">
                    <a asp-controller="Restaurants" asp-action="Index" asp-route-id="@restaurant.Id">
                        <div class="card border-0 shadow">
                            <img class="card-img-top" src="~/assets/images/restaurants/@restaurant.Image" style="width: 100%; height:220px;" />
                            <div class="card-body">
                                <h5 class="card-title">
                                    @restaurant.Name
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<style>
    .owl-carousel {
        margin-top: 2em;
        margin-bottom: 2.5em;
    }

        .owl-carousel a {
            text-decoration: none;
            color: black;
        }

    #restaurants-row a {
        text-decoration: none;
        color: black;
    }

    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }

    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-switch {
        padding-left: 2.25rem;
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #0b55c1;
        background-color: #0b55c1;
    }

    .custom-switch .custom-control-label::before {
        left: -2.25rem;
        width: 1.75rem;
        pointer-events: all;
        border-radius: .5rem;
    }

    .custom-control-label::before, .custom-file-label, .custom-select {
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .custom-control-label::before {
        position: absolute;
        top: .25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: #adb5bd solid 1px;
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #fff;
        -webkit-transform: translateX(.75rem);
        transform: translateX(.75rem);
    }

    .custom-switch .custom-control-label::after {
        top: calc(.25rem + 2px);
        left: calc(-2.25rem + 2px);
        width: calc(1rem - 4px);
        height: calc(1rem - 4px);
        background-color: #adb5bd;
        border-radius: .5rem;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
        transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
    }

    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background: no-repeat 50%/50% 50%;
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    300: {
                        items: 3
                    },
                    400: {
                        items: 4
                    },
                    600: {
                        items: 6
                    },
                    800: {
                        items: 8
                    },
                    1000: {
                        items: 12
                    }
                }
            })

            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find(".fa-arrow-down").removeClass("fa-arrow-down").addClass("fa-arrow-up").css({ "transition-duration": "0.2s" });
            }).on('hidden.bs.collapse', function () {
                $(this).parent().find(".fa-arrow-up").removeClass("fa-arrow-up").addClass("fa-arrow-down").css({ "transition-duration": "0.2s" });
            });
        });
    </script>
}