@{
    ViewData["Title"] = "Delivery";
    List<Restaurant> restaurants = ViewData["RESTAURANTS"] as List<Restaurant>;
    List<Category> categories = ViewData["CATEGORIES"] as List<Category>;
}

@if (TempData["Message"] != null)
{
    <div class="alert @TempData["MessageType"] alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="owl-carousel owl-theme pe-5 ps-5">
    @foreach (Category category in categories)
    {
        <div class="category-item" data-category="@category.Id" style="cursor: pointer;">
            <div class="item">
                <img class="img img-fluid w-50 m-auto" src="~/assets/images/restaurantscategories/@category.Image" />
                <h6 class="text-center mt-2">@category.Name</h6>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-3 pe-5">
        <h2>Filtros</h2>
        <p>
            <a class="d-flex justify-content-between align-items-center text-black text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <h4>Ordenar <i class="fa-solid fa-arrow-up arrow-icon ms-4"></i></h4>
            </a>
        </p>
        <div class="collapse show" id="collapseExample">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order" id="relevancia" value="relevancia" checked>
                <label class="form-check-label" for="relevancia">
                    Relevancia
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order" id="novedades" value="novedades">
                <label class="form-check-label" for="novedades">
                    Novedades
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="order" id="tiempoentrega" value="tiempoentrega">
                <label class="form-check-label" for="tiempoentrega">
                    Tiempo de entrega
                </label>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="radio" name="order" id="menorgastominimo" value="menorgastominimo">
                <label class="form-check-label" for="menorgastominimo">
                    Menor gasto mínimo
                </label>
            </div>
            <div class="custom-control custom-switch">
                <input class="custom-control-input" type="checkbox" name="free" id="free" value="free">
                <label class="custom-control-label" for="free">
                    Sin gastos de envío
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-9" id="pagination-restaurants">
    </div>
</div>

@*function loadRestaurants(pageNumber, pageSize) {
            var request = "/Home/_PaginationRestaurants?pageNumber=" + pageNumber + "&pageSize=" + pageSize;
            $("#pagination-restaurants").load(request);
        }
        var request = "/Home/_PaginationRestaurants";
            $("#pagination-restaurants").load(request);*@

@section Scripts {
    <script>
        function loadRestaurants(pageNumber, pageSize) {
            var category = $('.category-item.active').data('category');
            var order = $('input[name=order]:checked').val();
            var free = $('#free').is(':checked') ? "true" : "false";
            var requestUrl = "/Home/_PaginationRestaurants?pageNumber=" + pageNumber + "&pageSize=" + pageSize + "&category=" + category + "&order=" + order + "&free=" + free;
            console.log(requestUrl);
            $.ajax({
                url: requestUrl,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#pagination-restaurants").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        $(document).ready(function () {

            $('.category-item').on('click', function () {
                $('.category-item').removeClass('active');
                $(this).addClass('active');
                loadRestaurants(1, 3);
            });

            $('input[name=order]').on('change', function () {
                loadRestaurants(1, 3);
            });

            $('#free').on('change', function () {
                loadRestaurants(1, 3);
            });

            $.ajax({
                url: "/Home/_PaginationRestaurants",
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#pagination-restaurants").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });

            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                responsive: {
                    0: {
                        items: 2
                    },
                    300: {
                        items: 3
                    },
                    400: {
                        items: 4
                    },
                    600: {
                        items: 6
                    },
                    800: {
                        items: 8
                    },
                    1000: {
                        items: 12
                    }
                }
            })

            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find(".fa-arrow-down").removeClass("fa-arrow-down").addClass("fa-arrow-up").css({ "transition-duration": "0.2s" });
            }).on('hidden.bs.collapse', function () {
                $(this).parent().find(".fa-arrow-up").removeClass("fa-arrow-up").addClass("fa-arrow-down").css({ "transition-duration": "0.2s" });
            });
        });
    </script>
}

<style>
    .owl-carousel {
        margin-top: 2em;
        margin-bottom: 2.5em;
    }

        .owl-carousel a {
            text-decoration: none;
            color: black;
        }

    #restaurants-row a {
        text-decoration: none;
        color: black;
    }

    .custom-control-label {
        position: relative;
        margin-bottom: 0;
        vertical-align: top;
    }

    .custom-control-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .custom-switch {
        padding-left: 2.25rem;
    }

    .custom-control {
        position: relative;
        display: block;
        min-height: 1.5rem;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #0b55c1;
        background-color: #0b55c1;
    }

    .custom-switch .custom-control-label::before {
        left: -2.25rem;
        width: 1.75rem;
        pointer-events: all;
        border-radius: .5rem;
    }

    .custom-control-label::before, .custom-file-label, .custom-select {
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .custom-control-label::before {
        position: absolute;
        top: .25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: #adb5bd solid 1px;
    }

    .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #fff;
        -webkit-transform: translateX(.75rem);
        transform: translateX(.75rem);
    }

    .custom-switch .custom-control-label::after {
        top: calc(.25rem + 2px);
        left: calc(-2.25rem + 2px);
        width: calc(1rem - 4px);
        height: calc(1rem - 4px);
        background-color: #adb5bd;
        border-radius: .5rem;
        transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
        transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-transform .15s ease-in-out;
    }

    .custom-control-label::after {
        position: absolute;
        top: .25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background: no-repeat 50%/50% 50%;
    }
</style>